/* Place CSS styles here */

/* SITE WIDE DESIGNS SYSTEM */

html {
  scroll-behavior: smooth;
}

body{
    line-height: 1.6;
}

h1 {
  font-size: 5.61rem;
  font-weight: 500;
  color: #000000;
}







/* HERO */

.hero {
    background-color: #a6a6a6;
    height: 100vh;
    padding-top: 10px;
    text-align: center;
  }

.hero h1 {
  margin-top: 200px;
}







/* NAVIGATION */

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    z-index: 10;
}

.logo {
    font-size: 21px;
    margin: 10px;
    color: #000000;
    text-decoration: none;
}

.header-links {
    font-size: 21px;
    margin: 10px;
    color: #000000;
    text-decoration: none;
}

a.logo:hover, a.header-links:hover {
    color:#ffffff
}







/* RESPONSIVE HAMBURGER AND MENU */
.links-and-burger {
    position: relative;
  }
  
  .menu {
    position: fixed;
    top: 164px;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    flex-direction: column;
    align-items: center;
  
  }
  
  .menu.expanded {
    transform: translateX(0);
    background-color: rgb(255, 255, 255);
  }
  
  
  @media (min-width:768px) {
    .links-and-burger {
      display: block;
    }

    .menu {
      display: block;
      position: static;
      width: auto;
      transform: none;
      box-shadow: none;
    }

    .links-and-burger .hamburger {
      display: none;
    }
  }







  /* FOOTER */

  .temp {
    margin: 400px;
  }

  footer {
    background-color:#a6a6a6;
    margin: 0;
    bottom: 0;
    text-align: center;
    position: relative;
    z-index: 30;
    margin-top: 100px;
  }

  footer p {
    padding: 40px;
    margin: 0;
  }

  .back-to-top-button {
    padding: 10px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
  }

  .back-to-top-button:hover {
    background-color: rgb(49, 49, 49);

  }

  a.back-to-top-button {
    text-decoration: none;
    color: #ffffff;
  }







  /* PROJECT TEMPLATE PAGE-------------------------- */

  /* HERO STICKY  */

.project-hero {
  background-color: #a6a6a6;
  height: 50vh;
  padding-top: 10px;
  text-align: center;
  top: 0;
  position: sticky;
  z-index: 1;
}

.content {
  background-color: #ffffff;
  position: relative;
  z-index: 20;
}

.project-description {
  position: sticky;
  padding: 600px;
}


/* SECTION */

.main-image-sizing {
  /* padding: 50px;
  padding-bottom: 0px; */
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.main-image {
  /* height: 60vh;
  object-fit: cover;
  display: block;
  margin: 0 auto; */
  width: 80%;
  padding: 10%;
  padding-bottom: 0;
  height: auto;
  object-fit: contain;
  display: block;
}


.project-description-parent {
  display: flex;
}

.project-brief {
  padding: 3rem;
  padding-left: 12.5%;
  width: 50%;
}

.project-details {
  padding: 3rem;
  padding-right: 12.5%;
  width: 50%;
}

.project-brief-space {
  padding-bottom: 1em;
}

@media (max-width: 768px) {
  .project-description-parent {
    flex-direction: column;
    padding: 1rem;
  }

  .project-brief,
  .project-details {
    width: 100%;
    padding: 1rem;
  }
}
.question {
  font-weight: bold;
}




.carousel {
  /* max-width: 700px;
  margin: 0 auto; */
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.carousel-image {
  /* height: 400px;
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto; */
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}


.slick-prev:before,
.slick-next:before {
  color: black; 
  font-size: 30px; 
}

.slick-prev,
.slick-next {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}





.more-images-parent {
  display: flex;
  flex-direction: column;
}

.extra-image-container:nth-child(odd) {
  flex-direction: row-reverse;
}
