/* Place CSS styles here */

/* SITE WIDE DESIGNS SYSTEM */

body{
    line-height: 1.6;
}



/* NAVIGATION */

.hero {
    background-color: #a6a6a6;
    height: 100vh;
    padding-top: 10px;
    text-align: center;
  }

  .hero h1 {
    font-size: 5.61rem;
    font-weight: 500;
    color: #000000;
    margin-top: 200px;
  }

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.logo {
    font-size: 21px;
    margin: 10px;
    color: #000000;
    text-decoration: none;
}

.header-links {
    font-size: 21px;
    margin: 10px;
    color: #000000;
    text-decoration: none;
}

a.logo:hover, a.header-links:hover {
    color:#ffffff
}

/* RESPONSIVE HAMBURGER AND MENU */
.links-and-burger {
    position: relative;
  }
  
  .menu {
    position: fixed;
    top: 164px;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    flex-direction: column;
    align-items: center;
  
  }
  
  .menu.expanded {
    transform: translateX(0);
    background-color: rgb(255, 255, 255);
  }
  
  
  @media (min-width:768px) {
    .links-and-burger {
      display: block;
    }

    .menu {
      display: block;
      position: static;
      width: auto;
      transform: none;
      box-shadow: none;
    }

    .links-and-burger .hamburger {
      display: none;
    }
  }

  /* FOOTER */

  .temp {
    margin: 400px;
  }

  footer {
    background-color:#a6a6a6;
    margin: 0;
    bottom: 0;
    text-align: center;

  }

